.friends__container {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 25px 0 25px;
    border: 1px solid $baseWhite;
    border-radius: 20px;
    -webkit-box-shadow: -20px -24px 0px 0px rgba(36, 255, 0, 1);
    -moz-box-shadow: -20px -24px 0px 0px rgba(36, 255, 0, 1);
    box-shadow: -20px -24px 0px 0px rgba(36, 255, 0, 1);
}

.friends__content_container {}

.friends__title {}